body {
	margin: 0;
	width: 100%;
	font-family: Helvetica, sans-serif;
	background-color: #000;

	section {
	height: 100vh;
	position: relative;
	margin: 150px 50px;
	border-radius: 10%;
	background-color: #FFF;
	text-align: center;
	svg {
		width: 70%;
		position:absolute;
		bottom: 40px;
		left: 15%;

	}
	#poo {
		width:60%;
	}

	&::nth-of-type(2n) {
		background-color: #FFF;
		color: #000;
		}

	h1 {
		font-size: 100px;
		font-weight: 600;
		position: absolute;
		margin: 0px 40px;
		text-align: left;
		}
	}
}

div#google_translate_element {
	transform: scale(0,3);
	z-index: 100;
}